body {
	background: #f1f1f1 !important;
  margin: 0 !important;
  overflow-y: hidden;
}

* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.felizberta{
  text-align: center;
  color: white;
}

.felizbertaDesc {
  text-align: center;
  color: white;
}

.box {
	position: absolute;
  top: 50%;
  left: 50%;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #030d36;
	box-shadow: 0px 0px 80px #252525;
	position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #092762;
  }
  50% {
		border: solid #1144b3;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #1558e9;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #1962ff;
  }
}

@keyframes moveDown{
	0% {
    transform: translateY(0); 
  }
  100% {
	  transform: scale(0.5)translateY(90vh);
  }
}

@keyframes moveUp{
	0% {
		transform: scale(0.5)translateY(90vh);
  }
  100% {
	  transform: scale(1)translateY(0);
  }
}

#delayed {
	animation-delay: 1.5s;
}

#talk {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #020925;
	box-shadow: 0px -2px 15px #c5c5c5;
	position: absolute;
  cursor: pointer;
}

.mic-icon {
	position: absolute;
	margin: 21px;
}


.result {
	display: grid;
	padding: 2rem;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
	max-width: 1000px;
	margin: 0 auto;
}

.result > div {
	
	display: flex;
	height:auto;
	flex-direction: column;
	align-items:center;
	
}

.cocktailImage {
	animation: contentFadeIn ease 10s;
}

.cocktailImage img{
	width: 100%;
 	height: auto;
	transition: all 0.5s ease-in;
}

.cocktailImage:hover img{
	/*visibility: hidden;*/
	opacity: 0.5;
	transform: scale(0.98);
	
}

/*.result > div:hover {
	background-color: #222032;
}*/

body{
	font-family: 'Roboto', sans-serif;
}

@keyframes contentFadeIn{
 	from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes contentFadeOut{
 	from { opacity: 1; }
    to   { opacity: 0; }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #CEF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
  background: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
  width: 900px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 60px 80px -20px rgba(#27a5fd, 0.4);
  position: relative;
  overflow: hidden;
}

.icon {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(160deg, rgba(#3cc0fe, 0.7) 40%, rgba(#0066ff, 0.6));
  right: -40px;
  top: 50px;
	height: 300px;
	width: 600px;
}

.details{
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
}
.temperature {
  color: white;
  font-weight: 300;
  font-size: 10em;
}
.temperature span {
  margin: 10px;
  font-size: 30px;
}
.summary {
  color: #d2e9fa;
  font-size: 2em;
  font-weight: 300;
  width: 260px;
  margin-top: -16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #9cd0ff;
  margin-left: 8px;
}

.summaryTomorrow {
  color: #d2e9fa;
  font-size: 1.1em;
  font-weight: 200;
  width: auto;
  margin-top: -16px;
  padding-bottom: 16px;
  margin-left: 8px;
}

.summaryText {
  margin: 0;
}

.precipitation, .wind {
  color: #d2e9fa;
  font-size: 1.6em;
  font-weight: 300;
  margin-left: 8px;
}
.precipitation {
  margin-top: 16px;
}
.wind {
  margin-top: 4px;
  padding-bottom: 16px;
  border-bottom: 2px solid #9cd0ff;
  width: 260px;
  margin-bottom: 10px;
}

.homePageContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homePageTitle {
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 80px;
}

.homePageSubtitle {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.appDesc {
  margin-bottom: 60px;
  margin-top: 0px;
  margin-right: 170px;
}

.imgContainer {
  width: 50%;
  margin-right: 200px;
}

.homePageImg {
  display: block;
  height: 41.25rem;
  width: 41.25rem;
  border-radius: 10%;
  margin-top: 130px;
}

.homePageImg:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.textContainer {
  color: black;
}

.fas, .fab {
  transition: transform .7s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 65px;
  color: rgb(2,0,36);
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,48,213,1) 29%, rgba(145,0,255,1) 100%);
}

.fas:hover, .fab:hover {
  transform: rotate(360deg);
}

.commandsPageContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commandsImgContainer {
  width: 50%;
}

.commandsImg {
  display: block;
  width: 70rem;
  border-radius: 10%;
  margin-top: 300px;
  opacity: 0.5;
}

.commandsTextContainer {
  color: black;
  text-align: center;
}

.commandsList {
  list-style: none;
  padding: 0;
  text-align: initial;
}
.commandsListItem {
  padding-left: 1.3em;
}
.commandsListItem:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  font-size: large;
}