body {
	background: #222032 !important;
}


/* Voice button*/
.felizberta{
  text-align: center;
  color: white;
}

.felizbertaDesc {
  text-align: center;
  color: white;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

@keyframes moveDown{
	0% {
    transform: translateY(0); 
  }
  100% {
	  transform: scale(0.5)translateY(90vh);
  }
}

@keyframes moveUp{
	0% {
		transform: scale(0.5)translateY(90vh);
  }
  100% {
	  transform: scale(1)translateY(0);
  }
}

#delayed {
	animation-delay: 1.5s;
}

#talk {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
  	cursor: pointer;
}

.mic-icon {
	height: 60px;
	position: absolute;
	margin: 21px;
}


/* Cocktails*/
.result {
	max-width: 1000px;
	margin: 3rem auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.result > div{
	position: relative;
	width:320px;
	height:320px;
	margin:0.4rem;
	box-sizing: border-box;
	display:flexbox;
	animation: contentFadeIn ease 10s;
}

.imgBox{
	position:relative;
	overflow: hidden;
}

.imgBox img{
	width:100%;
	transition: .9s;	
}

/*not funtioning yet*/
.result > div:hover .imgBox img{
	transform: scale(1);
}

.details{
	position:absolute;
	top:0;
	left:0;
	transform: translateX(-100%);
	display: none;
	content: '';
	background: rgba(45,48,97,0.9) ;
	height: 100%;
	width: 100%;
	transition: 1s ease;
	overflow:auto;
}

.result > div:hover .details{
	transform: translateX(0%);
	display:block;
}

.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding:20px 20px;
	color: #fff;
	font-family: consolas;
	text-transform: uppercase;
	font-weight: 600;
	opacity:0;
	transition: 1s ease-in;
}

.details:hover .content{
	opacity:1;
}

.content h2{
	margin:0;
	margin-bottom: 20px;
	padding:0;
	font-size: 25px;	
}

.content a{
	margin:20px 0 0;
	padding:20px;
	font-size: 15px;
}

.content p{

	margin:10px 0 0;
	padding:10px;
	font-size: 15px;
}

.content #instructions{
	font-size: 10px;
}

.content ul{
	list-style-type: none;
	padding:10px;
	font-size: 10px;
	margin-bottom: 20px;
}

/*modal*/
/*.bg-modal{
width:100%;
height:100%;
background-color: rgbs(0,0,0,0.7);
top:0;
display:flex;
justify-content: center;
align-items: center;
display:none;
}

.modal.content{
width:500px;
height:300px;
background-color:#F1F1F1;
border-radius:4px;
text-align:center;
padding:20px;
position:relative;
}

.modal-content p ul{
width:50%;
display:block;
margin:15px auto;
}*/


@keyframes overlay{
 	from { opacity: 0; }
    to   { opacity: 1; }
}

body{
	font-family: roboto;
}

@keyframes contentFadeIn{
 	from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes contentFadeOut{
 	from { opacity: 1; }
    to   { opacity: 0; }
}