@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

body {
	background: #f1f1f1 !important;
  margin: 0 !important;
  overflow-y: hidden;
}

* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Voice button*/
.felizberta{
  text-align: center;
  color: white;
}

.felizbertaDesc {
  text-align: center;
  color: white;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #030d36;
	box-shadow: 0px 0px 80px #2e2c85;
	position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #092762;
  }
  50% {
		border: solid #1144b3;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #1558e9;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #1962ff;
  }
}

@keyframes moveDown{
	0% {
    transform: translateY(0); 
  }
  100% {
	  transform: scale(0.5)translateY(90vh);
  }
}

@keyframes moveUp{
	0% {
		transform: scale(0.5)translateY(90vh);
  }
  100% {
	  transform: scale(1)translateY(0);
  }
}

#delayed {
	animation-delay: 1.5s;
}

#talk {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #020925;
	box-shadow: 0px -2px 15px #c5c5c5;
	position: absolute;
  cursor: pointer;
}

.mic-icon {
	margin: 21px;
}


/* Cocktails*/
.cocktails {
	max-width: 1000px;
	margin: 3rem auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.cocktails .cocktailsBox{
	position: relative;
	width:320px;
	height:320px;
	margin:0.4rem;
	box-sizing: border-box;
	display:flexbox;
	animation: contentFadeIn ease 10s;
}

.cocktailsImgBox{
	position:relative;
	overflow: hidden;
}

.cocktailsImgBox img{
	width:100%;
	transition: .9s;	
}

/*not funtioning yet*/
.cocktails .cocktailsBox:hover .cocktailsImgBox img{
	transform: scale(1);
}

.cocktailsDetails{
	position:absolute;
	top:0;
	left:0;
	transform: translateX(-100%);
	display: none;
	content: '';
	background: rgba(45,48,97,0.9) ;
	height: 100%;
	width: 100%;
	transition: 1s ease;
	overflow:auto;
}

.cocktails .cocktailsBox:hover .cocktailsDetails{
	transform: translateX(0%);
	display:block;
}

.cocktailsContent{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding:20px 20px;
	color: #fff;
	font-family: consolas;
	text-transform: uppercase;
	font-weight: 600;
	opacity:0;
	transition: 1s ease-in;
}

.cocktailsDetails:hover .cocktailsContent{
	opacity:1;
}

.cocktailsContent h2{
	margin:0;
	margin-bottom: 20px;
	padding:0;
	font-size: 25px;	
}

body{
	font-family: 'Roboto', sans-serif;
}

.cocktailsContent a{
	margin:20px 0 0;
	padding:20px;
	font-size: 15px;
}

.cocktailsContent p{

	margin:10px 0 0;
	padding:10px;
	font-size: 15px;
}

.cocktailsContent #instructions{
	font-size: 10px;
}

.cocktailsContent ul{
	list-style-type: none;
	padding:10px;
	font-size: 10px;
	margin-bottom: 20px;
}

/*modal*/
.bg-modal{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	top:0;
	display:flex;
	justify-content: center;
	align-items: center;
	display:none;
}

.modal-content{
	width:800px;
	height:500px;
	background:#F1F1F1;
	border-radius:4px;
	text-align:center;
	padding:20px;
	position:relative;
}

.modal-content p ul{
	width:50%;
	display:block;
	margin:15px auto;
}

.close{
	position:absolute;
	top:0;
	right:14px;
	font-size:42px;
	transform: rotate(45deg);
	cursor:pointer;
}

.close:hover{
	color:grey;
}

.modal-content ul {
	list-style-type: none;
}

@keyframes overlay{
 	from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes contentFadeIn{
 	from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes contentFadeOut{
 	from { opacity: 1; }
    to   { opacity: 0; }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #CEF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.widget {
  background: linear-gradient(to bottom right, #82d7ff 20%, #0393f3);
  width: 900px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 60px 80px -20px rgba(#27a5fd, 0.4) !important;
  position: relative;
  overflow: hidden;
}

.icon {
  position: absolute;
  background: linear-gradient(160deg, rgba(#3cc0fe, 0.7) 40%, rgba(#0066ff, 0.6));
  right: 55px;
  top: 50px;
	height: 200px;
	width: 400px;
}

.details{
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
}
.temperature {
  color: white;
  font-weight: 300;
  font-size: 10em;
}
.temperature span {
  margin: 10px;
  font-size: 30px;
}
.summary {
  color: #ffffff;
  font-size: 2em;
  font-weight: 300;
  width: 260px;
  margin-top: -16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #ffffff;
  margin-left: 8px;
}

.summaryTomorrow {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 200;
  width: auto;
  margin-top: -16px;
  padding-bottom: 16px;
  margin-left: 8px;
}

.summaryText {
  margin: 0;
}

.precipitation, .wind {
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 300;
  margin-left: 8px;
}
.precipitation {
  margin-top: 16px;
}
.wind {
  margin-top: 4px;
  padding-bottom: 16px;
  border-bottom: 2px solid #ffffff;
  width: 260px;
  margin-bottom: 10px;
}

.homePageContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homePageTitle {
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 80px;
  font-family: 'Allison', cursive;
}

.homePageSubtitle {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.appDesc {
  margin-bottom: 60px;
  margin-top: 0px;
  margin-right: 170px;
}

.imgContainer {
  width: 50%;
  margin-right: 100px;
}

.homePageImg {
  display: block;
  height: 41.25rem;
  width: 47.25rem;
  border-radius: 10%;
  margin-top: 130px;
  cursor: pointer;
}

.homePageImg:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.textContainer {
  color: black;
}

.fas, .fab {
  transition: transform .7s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 65px;
  color: rgb(2,0,36);
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,48,213,1) 29%, rgba(145,0,255,1) 100%);
}

.fas:hover, .fab:hover {
  transform: rotate(360deg);
}

.commandsPageContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commandsImgContainer {
  width: 50%;
}

.commandsImg {
  display: block;
  width: 70rem;
  border-radius: 10%;
  margin-top: 50px;
  opacity: 0.5;
}

.commandsTextContainer {
  color: black;
  text-align: center;
}

.commandsList {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  text-align: initial;
}
.commandsListItem {
  padding-left: 1.3em;
  margin-bottom: 10px;
  font-size: larger;
}
.commandsListItem:before {
  content: "\f130"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
  font-size: larger;
}

.catImgContainer, .memeImgContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.catImg, .memeImg {
  height: 800px;
  width: 1000px;
  display: block;
  border-radius: 10%;
  cursor: pointer;
}

.homeButtonContainer {
  display: flex;
  justify-content: center;
}

/* Fill button styling */
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 500px;
}

.fill::after {
  content: "";
  background-color: #6987ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

@media only screen and (max-width: 800px) {

  body {
    overflow-y: auto !important;
  }

  .result {
    padding: 0;
  }

  .buttonContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .box {
    align-self: flex-end;
    position: relative;
    left: unset;
  }

  .appDesc {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
  }

  .homePageContainer {
    flex-direction: column;
    text-align: center;
  }
  
  .homePageImg {
    display: none;
  }

  .iconContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fas, .fab {
    margin-right: 0;
  }

  @keyframes moveDown{
    0% {
      transform: translateY(0); 
    }
    100% {
      transform: scale(0.5)translateY(50vh);
    }
  }

  @keyframes moveUp{
    0% {
      transform: scale(0.5)translateY(90vh);
    }
    100% {
      transform: scale(1)translateY(50vh);
    }
  }

}